<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TaxCalculationDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
      <param-name>c1</param-name>
      <param-value>10</param-value>
  </context-param>
  <servlet>
  <servlet-name>taxcalc</servlet-name>
  <servlet-class>com.demo.servlet.TaxCalculatorServlet</servlet-class>
  <init-param>
      <param-name>s1</param-name>
      <param-value>150000</param-value>  
  </init-param>
  <init-param>
      <param-name>s2</param-name>
      <param-value>300000</param-value>  
  </init-param>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>taxcalc</servlet-name>
  <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  <servlet><servlet-name>sdigits</servlet-name>
  <servlet-class>com.demo.servlet.CalculateSumDigits</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>sdigits</servlet-name>
  <url-pattern>/sdigits</url-pattern>
  </servlet-mapping>
</web-app>